src/main/wsdl/OrganizationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-b03-. -->
<definitions targetNamespace="http://organization.zdms_component.mndsc.ru/" name="OrganizationService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://organization.zdms_component.mndsc.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://organization.zdms_component.mndsc.ru/" schemaLocation="OrganizationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllDepartments">
    <part name="parameters" element="tns:getAllDepartments"/>
  </message>
  <message name="getAllDepartmentsResponse">
    <part name="parameters" element="tns:getAllDepartmentsResponse"/>
  </message>
  <message name="getDepartments">
    <part name="parameters" element="tns:getDepartments"/>
  </message>
  <message name="getDepartmentsResponse">
    <part name="parameters" element="tns:getDepartmentsResponse"/>
  </message>
  <message name="getDepartmentById">
    <part name="parameters" element="tns:getDepartmentById"/>
  </message>
  <message name="getDepartmentByIdResponse">
    <part name="parameters" element="tns:getDepartmentByIdResponse"/>
  </message>
  <message name="getDepartmentByName">
    <part name="parameters" element="tns:getDepartmentByName"/>
  </message>
  <message name="getDepartmentByNameResponse">
    <part name="parameters" element="tns:getDepartmentByNameResponse"/>
  </message>
  <message name="getContacts">
    <part name="parameters" element="tns:getContacts"/>
  </message>
  <message name="getContactsResponse">
    <part name="parameters" element="tns:getContactsResponse"/>
  </message>
  <message name="getContactById">
    <part name="parameters" element="tns:getContactById"/>
  </message>
  <message name="getContactByIdResponse">
    <part name="parameters" element="tns:getContactByIdResponse"/>
  </message>
  <message name="getContactsByName">
    <part name="parameters" element="tns:getContactsByName"/>
  </message>
  <message name="getContactsByNameResponse">
    <part name="parameters" element="tns:getContactsByNameResponse"/>
  </message>
  <message name="queryDepartments">
    <part name="parameters" element="tns:queryDepartments"/>
  </message>
  <message name="queryDepartmentsResponse">
    <part name="parameters" element="tns:queryDepartmentsResponse"/>
  </message>
  <message name="queryContacts">
    <part name="parameters" element="tns:queryContacts"/>
  </message>
  <message name="queryContactsResponse">
    <part name="parameters" element="tns:queryContactsResponse"/>
  </message>
  <message name="getDepartmentByUid">
    <part name="parameters" element="tns:getDepartmentByUid"/>
  </message>
  <message name="getDepartmentByUidResponse">
    <part name="parameters" element="tns:getDepartmentByUidResponse"/>
  </message>
  <message name="getContactByUid">
    <part name="parameters" element="tns:getContactByUid"/>
  </message>
  <message name="getContactByUidResponse">
    <part name="parameters" element="tns:getContactByUidResponse"/>
  </message>
  <message name="getAllContacts">
    <part name="parameters" element="tns:getAllContacts"/>
  </message>
  <message name="getAllContactsResponse">
    <part name="parameters" element="tns:getAllContactsResponse"/>
  </message>
  <portType name="OrganizationEndpoint">
    <operation name="getAllDepartments">
      <input message="tns:getAllDepartments"/>
      <output message="tns:getAllDepartmentsResponse"/>
    </operation>
    <operation name="getDepartments">
      <input message="tns:getDepartments"/>
      <output message="tns:getDepartmentsResponse"/>
    </operation>
    <operation name="getDepartmentById">
      <input message="tns:getDepartmentById"/>
      <output message="tns:getDepartmentByIdResponse"/>
    </operation>
    <operation name="getDepartmentByName">
      <input message="tns:getDepartmentByName"/>
      <output message="tns:getDepartmentByNameResponse"/>
    </operation>
    <operation name="getContacts">
      <input message="tns:getContacts"/>
      <output message="tns:getContactsResponse"/>
    </operation>
    <operation name="getContactById">
      <input message="tns:getContactById"/>
      <output message="tns:getContactByIdResponse"/>
    </operation>
    <operation name="getContactsByName">
      <input message="tns:getContactsByName"/>
      <output message="tns:getContactsByNameResponse"/>
    </operation>
    <operation name="queryDepartments">
      <input message="tns:queryDepartments"/>
      <output message="tns:queryDepartmentsResponse"/>
    </operation>
    <operation name="queryContacts">
      <input message="tns:queryContacts"/>
      <output message="tns:queryContactsResponse"/>
    </operation>
    <operation name="getDepartmentByUid">
      <input message="tns:getDepartmentByUid"/>
      <output message="tns:getDepartmentByUidResponse"/>
    </operation>
    <operation name="getContactByUid">
      <input message="tns:getContactByUid"/>
      <output message="tns:getContactByUidResponse"/>
    </operation>
    <operation name="getAllContacts">
      <input message="tns:getAllContacts"/>
      <output message="tns:getAllContactsResponse"/>
    </operation>
  </portType>
  <binding name="OrganizationServiceEndpointPortBinding" type="tns:OrganizationEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllDepartments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDepartments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDepartmentById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDepartmentByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getContacts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getContactById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getContactsByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryDepartments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryContacts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDepartmentByUid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getContactByUid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllContacts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OrganizationService">
    <port name="OrganizationServiceEndpointPort" binding="tns:OrganizationServiceEndpointPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

